<% unless current_user?(@user) %>
	<hr></hr>
	<h4>Book a chat now!</h4>
	
	<div id= "book_appointment_form">
		<%= render 'appointments/propose_appointment'%>
	</div>
	
  	<div id="set_time_zone_form">
		<%= render 'appointments/set_time_zone'%>
	</div>
	
	<% if current_user.time_zone %>
		<hr></hr>
		<% if @booked_appointments.any? %>
			<h4>Your upcoming chats</h4>
	      	<ol class="booked_appointment">
    			<%= render partial: 'appointments/booked_appointment', collection: @booked_appointments %>
	      	</ol>
	      	<%= will_paginate @booked_appointments %>
	   	<% end %>
	<% end %>
<% end %>
	