<% unless current_user?(@user) %>
	<hr></hr>
	<h4>Book a chat now!</h4>
	
	<div id= "book_appointment_form">
		<%= render 'appointments/book_appointment'%>
	</div>
	
  	<div id="set_time_zone_form">
		<%= render 'appointments/set_time_zone'%>
	</div>
	
	<% if current_user.time_zone %>
		<hr></hr>
		<% if @user.all_appointments.any? %>
			<h4>Your upcoming chats</h4>
	      	<ol class="microposts">
	        	<%= render @appointments %>
	      	</ol>
	      	<%= will_paginate @appointments %>
	   	<% end %>
	<% end %>
<% end %>
	