<li>
   <%= render :partial => 'shared/profile_picture',locals: {   :partial_user => user, :partial_size => :thumb} %>
   <%= link_to user.name, user %>
   <% if current_user.admin? && !current_user?(user) %>
     | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
   <% end %>
</li>