<p>Hello <%= @target.name %></p>

<p><%= @proposer.name %> would like to speak with you. To accept this appointment please follow the link below</p>

<p><a href="http://localhost:3000/">Login to Whizium</a></p>