<p>Hello <%= @target.name %></p>

<p>You're appointment with <%= @proposer.name %> has been booked for <%= @appointment_time %> (<%= @target.time_zone.nil? ? 'UTC' : @target.time_zone %> time)</p>

<p><a href="http://localhost:3000/">Login to Whizium</a></p>