<!-- Display time zone selector based on whether user has previously designated a time zone -->
<% if current_user.time_zone %>
	<h5>Please <a href="#" id="aside_show_time_zone_selector">click here</a> if you are no longer in '<%= current_user.time_zone%>'</h5>
	<div id="time_zone_selector" style="display:none;">
<% else %>
	<h5>Please select your current time zone</h5>
	<div id="time_zone_selector">
<% end %>

<%= form_for(current_user, :url => time_zone_user_path(current_user), :html => { :method => :put }) do |f| %>
	<%= f.time_zone_select :time_zone%>
	<%= f.submit "Update", class: "btn btn-default btn-primary" %>			
<% end %>
</div>

<!-- Clicking on the change time zone link will reveal the drop down menu, otherwise keep the page clean -->
<script>
	$('#aside_show_time_zone_selector').click(function(){
	    $('div#time_zone_selector').css('display', 'inline');
	});
</script>
